* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

canvas {

	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}

a {
	width: 200px;
	height: 200px;
	position: absolute;
	left: calc(100% - 200px);
	top: calc(100% - 130px);
}

img {
	width: 200px;
}

.ac {
	display: none;
}
.user{
	position: relative;
	text-align: right;
	margin-top: 20px;
}
.user button{
	width: 100px;
	background-color: #f6f6f6;
	outline: none;
	border-radius: 8px;
	padding: 13px;
	color: #a262ad;
	letter-spacing: 2px;
	border: none;
	cursor: pointer;
}
.user button:hover {
	background-color: #e3cbfa;
	color: #f6f6f6;
	transition: background-color 0.5s ease;
}
.user a{
	width: 0;
	height: 0;
	position: static;
	text-decoration: none;
}
.search {
	height: 200px;
	text-align: center;
	line-height: 300px;
	position: relative;
	margin: auto;
}

.hobby {
	width: 600px;
	height: 400px;
	margin: auto;
}

.search input {
	width: 700px;
	height: 50px;
	border-radius: 3px;
	box-shadow: 0 0 20px 0px #868686;
	border: 0;
	font-size: 20px;
	outline: none;

}

.hobby_item img {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 9px;
	left: 10px;
}

.item {
	width: 70px;
	height: 120px;
	text-align: center;
	margin-right: 20px;
}

.hobby_item {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	margin: auto;
	background-color: white;
	position: relative;
	top: 60px;
}

.hobby_item_text {
	position: absolute;
	top: 70px;
	left: 12px;
	font-size: 20px;
	color: white;
}

.text_item {
	width: 700px;
	height: 200px;
	background-color: white;
	position: absolute;
	margin: auto;
	top: 245px;
	left: 0px;
	right: 0;
	bottom: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
	z-index: 100;
}
.search input{
	border: 0;
	outline: 0;
}
.search_text_item {
	width: 700px;
	height: 200px;
	z-index: 100;
}

.search_text_item li {
	text-align: left;
	line-height: 38px;
	list-style: none;
	border: 0px;
}

.item:hover {
	animation: change 1s ease 0s;
	animation-fill-mode: forwards;
}

.item:hover .hobby_item {
	box-shadow: 0 0 10px 0 lightgrey;
}

.add:hover {
	animation: change 1s ease 0s;
	animation-fill-mode: forwards;
}

.add {
	width: 70px;
	height: 120px;
	text-align: center;
	margin-right: 20px;
}

.hobby_add {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	margin: auto;
	background-color: white;
	position: relative;
	top: 20px;
}

.hobby_add img {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	right: -1px;
}
.user {
				position: relative;
				text-align: right;
				margin-top: 20px;
			}

			.user a {
				width: 0;
				height: 0;
				position: static;
				text-decoration: none;
			}
			.user a{
				color: white;
			}
			 .user button {
				width: 180px;
				background-color: #f6f6f6;
				outline: none;
				border-radius: 13px;
				padding: 13px;
				cursor: pointer;
				background: #34cc34;
				color: white;
				border-radius: 3px;
				line-height: 1;
				font-size: 20px;
				padding: 15px 25px;
				outline: 0;
				margin: 20px;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			}

			button.shiny {
				background: #007eaf;
				background: linear-gradient(-45deg, #2284fb 50%, #0a0e92 60%, #2e59d4 70%);
				background-size: 600% 100%;
				-webkit-animation: shine 20s infinite;
				animation: shine 20s infinite;
				-webkit-animation-delay: 0s;
				animation-delay: 0s;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
			}

			button.shinydarken {
				background: #9ccc65;
				background: linear-gradient(-45deg, #80cc41 50%, #6e983e 60%, #a9cc80 70%);
				background-size: 600% 100%;
				-webkit-animation: shine 20s infinite;
				animation: shine 20s infinite;
				-webkit-animation-delay: 0s;
				animation-delay: 0s;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
			}

			button:active {
				top: 2px;
			}

			@-webkit-keyframes shine {
				0% {
					background-position-x: 400%;
				}

				50% {
					background-position-x: 0%;
				}

				100% {
					background-position-x: -400%;
				}
			}

			@keyframes shine {
				0% {
					background-position-x: 400%;
				}

				50% {
					background-position-x: 0%;
				}

				100% {
					background-position-x: -400%;
				}
			}
@keyframes change {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.2);

	}
}
@media (max-width:1200px) {
	.search{
		height: 850px;
		line-height: 1200px;
	}

	.hobby{
		width: 500px;
		height: 220px;
	}
	
	.text_item{
		top: 580px;
	}
	.item{
		margin-right: 10px;
		height: 100px;
	}
}
