* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border: 1px solid #ccc;
    overflow: hidden;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

.container {

    background-color: #fff;
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 50%);
    position: relative;
}

.form_box {
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: rgb(187, 185, 255);
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s ease-in-out;
}
.error-msg{
    font-size: 14px;
    color: #5b0000;
}

.register_box,
.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.hidden {
    display: none;
    transition: 0.5s;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

input {
    background-color: transparent;
    width: 100%;
    color: #ffffff;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.19);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}

input:focus {
    color: #32014f;
    outline: none;
    border-bottom: 3px solid rgba(195, 107, 206, 0.68);
    transition: 0.5s;
}

.form_box #input_login,
#input_register {
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #9a62ad;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

#register{
    color: rgb(0, 90, 129);
    border: rgba(45, 147, 202, 0.82) 1px solid;
}

.form_box button:hover {
    background-color: #a262ad;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}

#register:hover{
    background-color: rgba(45, 147, 202, 0.55);
    color: white;
}

.con_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.con_box.left {
    left: -2%;
}

.con_box.right {
    right: -2%;
}

.con_box h2 {
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}

.con_box p {
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}

.con_box span {
    color: #d3b7d8;
}

input:focus::placeholder {
    opacity: 0;
}

.con_box img {
    width: 150px;
    height: 150px;
}

.con_box button {
    margin-top: 3%;
    background-color: #fff;
    color: #a2626a;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.con_box button:hover {
    background-color: #d3b7d8;
    color: #fff;
}

.username_error {
    position: absolute;
    right: -20px;
    top: 70px;
}

.password_eror {
    position: absolute;
    right: -20px;
    top: 120px;
}

.reg_user {
    position: absolute;
    top: 70px;
    right: -20px;
}

.reg_phone {
    position: absolute;
    top: 120px;
    right: -20px;
}

.reg_password {
    position: absolute;
    top: 180px;
    right: -20px;
}

.reg_repassword {
    position: absolute;
    top: 240px;
    right: -20px;
}