<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>醉心项目启动测试</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css"/>
	<script src="../static/js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
	<style>
				body {
	
					overflow: hidden;
				}
	
				canvas {
	
					position: absolute;
					top: 0;
					left: 0;
					background-color: black;
				}
	
				a {
	
					width: 200px;
					height: 200px;
					position: absolute;
					left: calc(100% - 200px);
					top: calc(100% - 130px);
				}
	
				img {
					width: 200px;
				}
			</style>
	
		</head>
		<body>
			<div class="container">
				<div class="search">
					<input type="text" name="" id="" value="" />
				</div>
				<div class="hobby grid">
					<div class="item grid-cell-1">
						<div class="hobby_item">
							<img src="../static/img/password.png">
							<div class="hobby_item_text">
								123
							</div>
						</div>
					</div>
					<div class="item grid-cell-1">
						<div class="hobby_item">
							<img src="../static/img/password.png">
							<div class="hobby_item_text">
								123
							</div>
						</div>
					</div>
				</div>
			</div>
			<canvas id="c" style="z-index : -1;
	position : absolute;"></canvas>
	
			<script src="../static/js/dat.gui.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../static/js/index.js" type="text/javascript" charset="utf-8"></script>
	
		</body>
<script type="text/javascript">
	$(".add").click(function(){
		let $item = $("<div class='item grid-cell-1'></div>")
		let $hobby_item = $("<div class='hobby_item'></div>")
		let $img = $("<img alt='闹钟图片' src='../static/img/roll.png'>")
		let $hobby_item_text = $("<div class='hobby_item_text'>131</div>")
		
		
		$hobby_item.appendTo($item)
		$img.appendTo($hobby_item)
		$hobby_item_text.appendTo($hobby_item)
		$item.insertBefore(".add")
		
	})
</script>

</html>