<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册/登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}"/>
    <script th:src="@{/js/jquery-3.6.0.min.js}" src="../static/js/jquery-3.6.0.min.js"></script>
</head>
<body>

<div id="particles-js">
    <form action="/user/login" method="post" th:action="@{/user/login}">
        <div class="login">
            <div class="login-top" style="text-align: center;">
                登录
            </div>
            <div id="container">
                <div class="login-center first">
                   <div th:if="${error != null}" class="user_error" th:text="#{${error}}">
                        错误信息
                    </div>
                    <div class="login-center-img"><img src="../static/img/name.png" th:src="@{/img/name.png}" alt="">
                    </div>
                    <div class="login-center-input">
                        <input type="text" id="phone1" name="phone" value="" placeholder="请输入您的手机号"
                               onfocus="this.placeholder=''"
                               onblur="this.placeholder='请输入您的手机号'"/>
                        <label for="phone1" class="login-center-input-text">手机号</label>
                    </div>
                </div>
                <div class="login-center">
                    <div class="login-center-img"><img src="../static/img/password.png" th:src="@{/img/password.png}"
                                                       alt="锁"/>
                    </div>
                    <div class="login-center-input">
                        <input id="password1" type="password" name="password" placeholder="请输入您的密码"
                               onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
                        <label for="password1" class="login-center-input-text">密码</label>
                    </div>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="登录" class="login-button" style="border: 0;"/>
                <div class="register-button">
                    <a href="register.html" th:href="@{/register}">注册</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function (){
        $(".register-button").click(function () {
            $(".login").css("display", "none")
            $(".register").css({
                "display": "block",
                "animation": "trans 1s ease 0s",
                "animation-fill-mode": "forwards"
            })
            $(".regiter-center-input input").css({
                "animation": "inputtrans 1s ease 0s",
                "animation-fill-mode": "forwards"
            })
        })
        $(".back img").click(function () {
            $(".login").css({
                "display": "block",
                "animation": "back 1s ease 0s",
                "animation-fill-mode": "forwards"
            })
            $(".register").css("display", "none")
        })
    })
		$("#phone1").focus(function(){
			$(".user_error").text("")
		})
    function checkpassword() {
        let password = document.getElementById("a").value;
        let repassword = document.getElementById("b").value;

        if (password === repassword) {
            document.getElementById("submit").disabled = false;
            document.getElementById("tishi").innerHTML = "<br><font color='green'>两次密码输入一致</font>";
        } else {
            document.getElementById("tishi").innerHTML = "<br><font color='red'>两次输入密码不一致!</font>";
            document.getElementById("submit").disabled = true;
        }
    }
</script>
<script src="../static/js/particles.min.js" th:src="@{/js/particles.min.js}" type="text/javascript"
        charset="utf-8"></script>
<script src="../static/js/app.js" th:src="@{/js/app.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>