<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'醉心'+${type.typename}">醉心音乐</title>
    <link rel="stylesheet" type="text/css" href="../static/css/minindex.css" th:href="@{/css/minindex.css}"/>
    <style>
        a {
            text-decoration: none;
            color: white;
        }

        .topic {
            border-bottom: rgba(235, 236, 238, 0.58) solid 1px;
        }
    </style>
</head>
<body th:style="|background-image: url('@{/}${type.bgImg}');background-repeat: no-repeat;background-size: 100% auto;background-attachment: fixed;background-position: center|"
      style="background-image: url('../static/img/1.jpg');background-repeat: no-repeat;background-size: 100% auto;background-attachment: fixed;background-position: center">
<section>
    <div class="title">
        <h1>explore<span style="color: crimson;font-family: 华文楷体,serif;" th:text="${type.typename}">音乐</span></h1>
    </div>
    <div class="naviagtion">
        <div class="userBx">
            <div class="imgBx">
                <img src="../banner/pm.jpg" th:src="@{'/'+${userAvatar.avatar}}" alt="头像">
            </div>
            <p class="username" th:text="${session.user.name}">小高</p>
        </div>
        <div class="menuToggle"></div>
        <ul class="menu">
            <li><a href="user.html" th:href="@{'/user/'+${session.user.id}}">
                <ion-icon name="person-outline"></ion-icon>
                我的主页
            </a></li>
            <li><a href="/user/sign/out" th:href="@{/user/sign/out}">
                <ion-icon name="log-out-outline"></ion-icon>
                退出
            </a></li>
        </ul>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let menuToggle = document.querySelector('.menuToggle');
        let naviagtion = document.querySelector('.naviagtion');
        let userLogo = document.querySelector('.imgBx').querySelector('img');
        menuToggle.onclick = function () {
            naviagtion.classList.toggle('active');
        }
        userLogo.onclick = function () {
            naviagtion.classList.toggle('active');
        }
    </script>
    <div class="container">
        <th:block th:fragment="topicsShelves">
            <div th:if="${topics.size() eq 0}"><h1
                    style="text-align: center;color: white;text-shadow: black 5px 5px 3px">这个模块没有还没有帖子哦</h1></div>
            <div class="card" th:each="topic : ${topics}">
                <div class="topic">
                    <a href="topic.html" th:href="@{/topic/read/{id}(id=${topic.id})}">
                        <div class="content">
                            <div class="imgBx">
                                <img src="../static/img/img1.jpg"
                                     th:src="@{/{link}(link=${userService.findAvatarByUid(topic.authorid).avatar})}"
                                     alt="">
                            </div>
                            <div class="contentBx">
                                <h3>[(${topic.title})]<br/><span>[(${session.user.name})]</span></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="/user/3" th:href="@{/user/{uid}(uid=${topic.authorid})}">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </th:block>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
