<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/layout.css" th:href="@{/css/layout.css}" />
		<link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/topic.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
		<script src="../static/js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<style>
			#edit_target {
				text-align: left;
			}

			.master_name {
				text-align: left;
			}
		</style>
	</head>
	<body>

		<div id="container" class="grid">
			<div class="grid-cell-1 left">
				<div class="container_top_titile">
					我是标题
				</div>
				<ul>
					<li>
						<div class="container_top grid">
							<div class="grid-cell-2 top_img">
								<img src="../static/img/manage.png" class="manage">
								<div class="top_img_div">
									<img src="../banner/pm.jpg">
								</div>
								<div class="top_img_name">
									<a href="#">132456</a>
								</div>
							</div>
							<div class="grid-cell-4">
								<div class="top_titile">
									我是第一个主体内容12345354
									我是第一个主体内容12345354
								</div>
								<div class="top_bottom">
									<span class="zan"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>16</span>
									<span class="lou">1楼</span>
									<span class="time">2022-05-05 05:12:50</span>
									<span class="master_replace">回复</span>
								</div>
								<div class="master_bottom_replace">
									<div class="master_replace_text">
										<div class="master_name">回复楼主</div>
										<textarea rows="" cols="" id="master_text" type="text"></textarea>
										<button type="button" class="master_edit">发表</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container_top grid">
							<div class="grid-cell-2 top_img">
								<div class="top_img_div">
									<img src="../banner/pm.jpg">
								</div>
								<div class="top_img_name">
									<a href="#" class="top_username">132456</a>
								</div>
							</div>
							<div class="grid-cell-4">
								<div class="top_titile">
									我是测试
								</div>
								<div class="top_bottom">
									<span class="zan"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>16</span>
									<span class="lou">1楼</span>
									<span class="time">2022-05-05 05:12:50</span>
									<span class="replace">回复</span>
								</div>
								<div class="bottom_replace">
									<ul class="bottom_ul">
										<li>
											<div class="bottom_replace_user">
												<div class="replace_img">
													<img src="../banner/pm.jpg">
													<a href="#" class="username">123</a>回复<a href="#">132456</a>
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													<div class="replace_bottom">
														<span class="replace_zan"><i class="fa fa-thumbs-o-up"
																aria-hidden="true"></i>16</span>
														<span class="replcace_time">2022-05-05 05:12:50</span>
														<span class="answer_replace">回复</span>
													</div>
												</div>
											</div>
											<hr>
										</li>
										<li>
											<div class="bottom_replace_user">
												<div class="replace_img">
													<img src="../banner/pm.jpg">
													<a href="#" class="username">666</a>回复<a href="#">132456</a>
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													<div class="replace_bottom">
														<span class="replace_zan"><i class="fa fa-thumbs-o-up"
																aria-hidden="true"></i>16</span>
														<span class="replcace_time">2022-05-05 05:12:50</span>
														<span class="answer_replace">回复</span>
													</div>
												</div>
											</div>
											<hr>
										</li>
										<li>
											<div class="bottom_replace_user">
												<div class="replace_img">
													<img src="../banner/pm.jpg">
													<a href="#" class="username">666</a>回复<a href="#">132456</a>
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													<div class="replace_bottom">
														<span class="replace_zan"><i class="fa fa-thumbs-o-up"
																aria-hidden="true"></i>16</span>
														<span class="replcace_time">2022-05-05 05:12:50</span>
														<span class="answer_replace">回复</span>
													</div>
												</div>
											</div>
											<hr>
										</li>
										<li>
											<div class="bottom_replace_user">
												<div class="replace_img">
													<img src="../banner/pm.jpg">
													<a href="#" class="username">535</a>回复<a href="#"
														class="respoend">132456</a>
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													我是第一个主体内容12345354
													<div class="replace_bottom">
														<span class="replace_zan"><i class="fa fa-thumbs-o-up"
																aria-hidden="true"></i>16</span>
														<span class="replcace_time">2022-05-05 05:12:50</span>
														<span class="answer_replace">回复</span>
													</div>
												</div>
											</div>
											<hr>
										</li>
										<li>
											<div class="answer_edit">
												<div id="edit_target"></div>
												<textarea rows="" cols="" id="edit_text" type="text"></textarea>
												<button type="button" class="edit_put">发表</button>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="grid-cell-3 right">
				<div class="grid">
					<div class="recommend">
						<span>热门推荐</span>
						<ul>
							<li><a href="">1没想到竟然是...</a><span class="hot">1346</span></li>
							<li><a href="">2没想到竟然是...</a><span class="hot">1346</span></li>
							<li><a href="">3没想到竟然是...</a><span class="hot">1346</span></li>
							<li><a href="">4没想到竟然是...</a><span class="hot">1346</span></li>
							<li><a href="">1没想到竟然是...</a><span class="hot">1346</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom_text">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li><a href="#">首页</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">尾页</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>

			</div>
		</div>
	</body>
	<script type="text/javascript">
		var i = 0;
		$(document).on('click', '.replace', function() {
			if ($(this).parent().siblings(".bottom_replace").children().children("li").length == 1) {
				$(this).parent().siblings(".bottom_replace").children().children("li").children(".answer_edit").css(
					"display", "block")
			}
			if (i % 2 == 0) {
				$(this).parent().siblings(".bottom_replace").children("ul").stop().slideToggle(200);
			} else {

				$(this).parent().siblings(".bottom_replace").children("ul").stop().slideToggle(200);
			}
			i++;

		})

		$(document).on('click', '.answer_replace', function() {
			$(".answer_edit").css("display", "block")
			let user = $(this).parent().siblings(".username").text();
			$("#edit_target").text("回复:" + user)
		})


		var j = 0;
		$(document).on('click', '.master_replace', function() {
			if (j % 2 == 0) {
				$(".master_bottom_replace").css("display", "  block")
			} else {
				$(".master_bottom_replace").css("display", "none")
			}
			j++;
		})

		$(document).on('click', '.edit_put', function() {

			let $replace_img = $("<div class='replace_img'></div>");
			let $username = $("<a href='#' class='username'>456489</a><span>回复</span>");
			let $respoend = $("<a href='#' class='respoend'></a>");
			let $replace_bottom = $("<div class='replace_bottom'></div>");
			let $replace_zan = $("<span class='replace_zan'></span>");
			let $replcace_time = $("<span class='replcace_time'>2022-05-05 05:12:50</span>");
			let $answer_replace = $("<span class='answer_replace'>回复</span>");
			let $bottom_replace_user = $("<div class='bottom_replace_user'></div>")
			let $img = $("<img src='../banner/pm.jpg'>")
			let $iron = $("<i class='fa fa-thumbs-o-up' aria-hidden='true'></i><span>16</span>")
			let $answer_edit = $(".answer_edit");
			let $text = $("#edit_text").val();
			$replace_img.appendTo($bottom_replace_user)
			$img.appendTo($replace_img)
			$username.appendTo($replace_img)

			$("<span>" + $text + "</span>").appendTo($replace_img)
			$replace_bottom.appendTo($replace_img)
			$replace_zan.appendTo($replace_bottom)
			$iron.appendTo($replace_zan)

			$replcace_time.appendTo($replace_bottom)
			$answer_replace.appendTo($replace_bottom)
			$li = $("<li></li>");
			$(this).parent().parent().parent(".bottom_ul").children("li:last").before($li)
			$li.append($bottom_replace_user)
			$li.append($("<hr>"))


		})
		$(document).on('click', '.master_edit', function() {
			let $iron = $("<i class='fa fa-thumbs-o-up' aria-hidden='true'></i><span>16</span>")
			let $container_top = $("<div class='container_top grid'></div>")
			let $top_img = $("<div class='grid-cell-2 top_img'></div>")
			let $top_img_div = $("<div class='top_img_div'></div>")
			let $img = $("<img src='../banner/pm.jpg'>")
			let $top_img_name = $("<div class='top_img_name'></div>")
			let $top_username = $("<a href='#' class='top_username'>132456</a>")
			let $grid_cell_4 = $("<div class='grid-cell-4'></div>")

			let $top_titile = $("<div class='top_titile'></div>")
			let $top_bottom = $("<div class='top_bottom'>")
			let $zan = $("<span class='zan'></span>");
			let $time = $("<span class='time'>2022-05-05 05:12:50</span>");
			let $replace = $("<span class='replace'>回复</span>");
			let $lou = $("<span class='lou'>1楼</span>")
			let $bottom_place = $("<div class='bottom_replace'></div>")
			let $text = $("#master_text").val();
			$li = $("<li></li>");



			$top_username.appendTo($top_img_name)
			$img.appendTo($top_img_div)
			$top_img_name.append($top_img)
			$top_img_div.appendTo($top_img)
			$top_img.appendTo($container_top)
			$container_top.appendTo($li)


			$grid_cell_4.appendTo($container_top)
			$("<span>" + $text + "</span>").appendTo($top_titile)
			$top_titile.appendTo($grid_cell_4)

			$top_bottom.appendTo($grid_cell_4)
			$bottom_place.appendTo($grid_cell_4)


			$zan.appendTo($top_bottom)
			$iron.appendTo($zan)
			$lou.appendTo($top_bottom)
			$time.appendTo($top_bottom)
			$replace.appendTo($top_bottom)
			$("<ul class='bottom_ul'><li><div class='answer_edit'><div id='edit_target'></div><textarea id='edit_text' type='text'></textarea><button type='button' class='edit_put'>发表</button></div></li></ul>")
				.appendTo($bottom_place)


			$li.appendTo($(".container_top_titile").siblings())


		})
	</script>
</html>
