<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/topic.css" th:href="@{/css/topic.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"
            charset="utf-8"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}" type="text/javascript"
            charset="utf-8"></script>
    <style>
        .edit_target {
            text-align: left;
        }

        .master_name {
            text-align: left;
        }
    </style>
</head>
<body style="background-color: black">
<div id="container" class="grid">
    <div class="grid-cell-1 left">
        <div class="container_top_titile" th:text="${topicContext.title}">
            我是标题
        </div>
        <ul>
            <li>
                <div class="container_top grid">
                    <div class="grid-cell-2 top_img">
                        <img src="../static/img/manage.png" th:src="@{/img/manage.png}" class="manage" alt="">
                        <div class="top_img_div">
                            <img src="../banner/pm.jpg" th:src="@{/{avatar}(avatar=${authorAvatar.avatar})}" alt="头像">
                        </div>
                        <div class="top_img_name">
                            <a href="#" th:text="${topicAuthor.name}" th:href="@{/user/{uid}(uid=${topicAuthor.id})}">132456</a>
                        </div>
                    </div>
                    <div class="grid-cell-4">
                        <div class="top_titile" id="content" th:text="${topicContext.content}">
                            我是第一个主体内容12345354
                            我是第一个主体内容12345354
                        </div>
                        <div class="top_bottom">
                            <span class="zan"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>16</span>
                            <span class="lou">1楼</span>
                            <span class="time" th:text="${#dates.format(topicContext.time,'yyyy-MM-dd HH:mm:ss')}">2022-05-05 05:12:50</span>
                            <span class="master_replace">回复</span>
                        </div>
                        <div class="master_bottom_replace">
                            <div class="master_replace_text">
                                <script>
                                    function replyTopicForm(obj) {
                                        let flag = true;
                                        $($(obj).serializeArray()).each((index, item) => {
                                            if (item.value.trim() === '') {
                                                alert("请输入内容!")
                                                flag = false;
                                            }
                                        })
                                        return flag;
                                    }
                                </script>
                                <form action="/topic/reply/{tid}" id="replyTopicForm" method="post"
                                      onsubmit="return replyTopicForm(this)"
                                      th:action="@{/topic/reply/{tid}(tid=${topicContext.id})}">
                                    <label for="master_text" class="master_name" style="position: absolute">回复楼主</label>
                                    <textarea name="content" style="position: relative;margin-top: 20px"
                                              id="master_text" type="text"></textarea>
                                    <button type="submit" class="master_edit">发表</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <th:block th:fragment="topicComments">
                <li th:each="comment : ${comments}" th:object="${comment}">
                    <div class="container_top grid">
                        <div class="grid-cell-2 top_img">
                            <div class="top_img_div">
                                <img src="../banner/pm.jpg" th:src="@{/{link}(link=*{avatar.avatar})}" alt="头像">
                            </div>
                            <div class="top_img_name">
                                <a href="#" th:href="@{/user/{uid}(uid=*{user.uid})}" th:text="*{user.name}"
                                   class="top_username">132456</a>
                            </div>
                        </div>
                        <div class="grid-cell-4">
                            <div class="top_titile" th:text="*{content}">
                                我是测试
                            </div>
                            <div class="top_bottom">
                                <span class="zan"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>16</span>
                                <span th:with="louStart = (${louStart + 1})">[(${louStart})]楼</span>
                                <span class="time" th:text="*{#dates.format(time,'yyyy-MM-dd HH:mm:ss')}">2022-05-05 05:12:50</span>
                                <span class="replace" onclick="blockInput(this,0)"
                                      th:attr="data-id=*{id},data-username=*{user.name}"
                                      th:onclick="|blockInput(this,0)|">回复</span>
                                <span class="comments-section-status" style="margin-right: 10px;cursor: pointer;"
                                      onclick="shouPingLun(this)">打开评论区</span>
                            </div>
                            <div class="bottom_replace">
                                <ul class="bottom_ul" style="display: none">
                                    <li th:each="sub : ${comment.subComments}" th:fragment="subComments">
                                        <div class="bottom_replace_user">
                                            <div class="replace_img">
                                                <img src="../banner/pm.jpg" alt=""
                                                     th:src="@{/{link}(link=${sub.avatar.avatar})}">
                                                <a href="" th:href="@{/user/{uid}(uid=${sub.user.uid})}"
                                                   class="username" th:text="${sub.user.name}">123</a>回复<a href="#"
                                                                                                           th:href="@{/user/{uid}(uid=${commentLooker.apply(sub.targetId).user.uid})}"
                                                                                                           th:text="${commentLooker.apply(sub.targetId).user.name}">132456</a>
                                                [(${sub.content})]
                                                <div class="replace_bottom">
														<span class="replace_zan"><i class="fa fa-thumbs-o-up"
                                                                                     aria-hidden="true"></i>16</span>
                                                    <span class="replcace_time"
                                                          th:text="${#dates.format(sub.time,'yyyy-MM-dd HH:mm:ss')}">2022-05-05 05:12:50</span>
                                                    <span onclick="blockInput(this,1)"
                                                          th:attr="data-id=${sub.id},data-username=${sub.user.name}"
                                                          th:onclick="|blockInput(this,1)|"
                                                          class="answer_replace">回复</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
    <div class="bottom_text">
    </div>
    <script src="../static/js/particles.min.js" th:src="@{/js/particles.min.js}" type="text/javascript"
            charset="utf-8"></script>
    <script src="../static/js/app.js" th:src="@{/js/app.js}" type="text/javascript" charset="utf-8"></script>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    function blockInput(obj, type) {
        if ($(obj).parent().siblings('.answer_edit').length > 0) {
            $(obj).parent().siblings('.answer_edit').remove()
            return;
        }
        $(".answer_edit").remove()
        let id = $(obj).attr("data-id")
        let targetName = $(obj).attr("data-username")
        let $input_edit = $("<div class='answer_edit' style='display: block'>" +
            "<div class='edit_target'>回复:" + targetName + "</div>" +
            "<textarea class='answer-content' type='text'></textarea>" +
            "<button type='button' class='edit_put'>发表</button>" +
            "</div>")
        $input_edit.children('.edit_put').click(function () {
            edit_put(this, id, type)
        });
        $(obj).parent().after($input_edit)
    }

    function shouPingLun(obj) {
        $(obj).text($(obj).text() === '收起评论区' ? "打开评论区" : "收起评论区")
        $(obj).parent().siblings(".bottom_replace").children(".bottom_ul").stop().slideToggle(300)
    }

    $(document).on('click', '.master_replace', function () {
        $(".master_bottom_replace").toggle()
    })

    function edit_put(obj, id, type) {
        let targetId = id;
        let content = $(obj).parent().find(".answer-content").val();
        $(obj).unbind()
        if (content.trim() === ''){
            alert("请输入内容!")
            return;
        }
        $.post("[(@{/topic/reply/comment})]/" + targetId, {'content': content}, function (data) {
            if (type === 1) {
                $(obj).parent().parent().parent().parent().parent().append($(data))
            } else {
                $(obj).parent().siblings(".bottom_replace").children(".bottom_ul").append($(data))
            }
            $(obj).parent().remove()
        })
    }

    $(function () {
        let $content = $("#content");
        $content.html($content.text())
    })
</script>
</html>
