<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/user.css" th:href="@{/css/user.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/font-awesome-4.7.0/css/font-awesome.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/vue2.6.14.js" th:src="@{/js/vue2.6.14.js}"></script>
</head>
<body>
<!--用户帖子模板-->
<th:block th:fragment="userTopic">
    <div class="container_body_right_item_list" th:each="topic : ${userTopicPage.topics}" th:object="${topic}">
        <div class="container_body_right_item_list_title" style="margin-top: 10px;">
            <span class="time" th:text="*{time}">时间</span>
            <div class="list_topic_type">
                <span th:text="${types.get(topic.typeid)}">类型</span>
            </div>
        </div>
        <div class="container_body_right_item_list_text">
            <h3><a href="#" style="color: #3f99ff" th:text="*{title}">标题</a></h3>
            <span th:text="*{content}">内容</span>
        </div>
    </div>
    <div class="loadOther" style="text-align: center;background-color: #1e6dd9;color: white;border: 1px solid #62c4e3;" th:if="${userTopicPage.hasNextPage}" th:onclick="|userTopicList.loadClick('@{/topic/user/{userid}/{page}(userid=${userid},page=${page})}',this)|">加载更多</div>
</th:block>
</body>
</html>