<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/user.css" th:href="@{/css/user.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.css"
          th:href="@{/font-awesome-4.7.0/css/font-awesome.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/vue2.6.14.js" th:src="@{/js/vue2.6.14.js}"></script>
</head>
<body>
<div id="container" th:object="${user}">
    <div class="top grid">
        <div class="top-img grid-cell-1">
            <div class="container_top_img">
                <img src="../static/default-avatar/def01.png" th:src="@{'/'+${avatar}}" alt="头像">
            </div>
        </div>
        <div class="container_text grid-cell-5">
            <div class="container_text_name" th:text="*{name}">
                用户名
            </div>
            <div class="container_text_status" th:text="*{sign}">
                签名
            </div>
            <div class="container_text_lable grid">
                <!-- 关注 -->
                <div class="grid-cell-1">
                    <span><i class="fa fa-heart-o fa-2x"></i></span>
                    <span class="like" th:text="${concernNumber}">关注数</span>
                </div>
                <!-- 粉丝 -->
                <div class="grid-cell-1">
                    <span><i class="fa fa-star-o fa-2x"></i></span>
                    <span class="follow" th:text="${fansNumber}">粉丝数</span>
                </div>
                <div class="grid-cell-1">
                    <span><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></span>
                    <span>获赞数</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container_body grid">
        <div class="container_body_left grid-cell-1">
            <div class="container_body_left_text_first">
                <div class="container_body_left_text_first_title">
                    <span class="title_first_text">浏览历史</span>
                    <hr class="line">
                </div>
                <div class="title_ul">
                    <ul>
                        <li><a href="#">我是测试数据</a></li>
                        <li><a href="#">我是测试数据</a></li>
                        <li><a href="#">我是测试数据</a></li>
                    </ul>
                </div>
            </div>
            <div class="container_body_left_text_second">
                <div class="container_body_left_title">
                    <span class="title_second_text">收藏</span>
                    <hr class="line">
                </div>
                <div class="title_ul">
                    <ul>
                        <li><a href="#">我是测试数据</a></li>
                        <li><a href="#">我是测试数据</a></li>
                        <li><a href="#">我是测试数据</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container_body_right grid-cell-3" id="my-topics">
            <div class="container_body_right_text">
                <span class="right_text">我的帖子</span>
                <hr class="right_line">
            </div>
            <div id="container_body_right_item">
                <!--帖子列表-->
            </div>
        </div>
    </div>

</div>
<div class="range">
    <div class="try_button">
        Try it
    </div>
    <div class="roll_btn">
        <span class="btn_roll"><img src="../static/img/pan.png" th:src="@{/img/pan.png}" alt=""></span>
    </div>
</div>
<script src="../static/js/user_vue.js" th:src="@{/js/user_vue.js}"></script>
<script th:inline="javascript" id="hide">
    userTopicList.loadTopics('[(@{/topic/user/{userid}/{page}(userid=${user.uid},page=0)})]')
    $("#hide").remove()
</script>
<script type="text/javascript" th:inline="javascript">
    function change() {
        let colorStr = "#";
        for (let i = 0; i < 6; i++) {
            let e = Math.floor(Math.random() * 16);
            if (e < 10) {
                colorStr += e;
            } else {
                switch (e - 10) {
                    case 0:
                        colorStr += "A";
                        break;
                    case 1:
                        colorStr += "B";
                        break;
                    case 2:
                        colorStr += "C";
                        break;
                    case 3:
                        colorStr += "D";
                        break;
                    case 4:
                        colorStr += "E";
                        break;
                    case 5:
                        colorStr += "F";
                        break;
                }
            }
        }
        return colorStr;
    }

    $(".btn1").click(function () {
        let $list = $("<div class='container_body_right_item_list'></div>")
        let $title = $("<div class='container_body_right_item_list_title'></div>")
        let $time = $("<div class='list_time' style='background-color:" + change() + " '></div>")
        let $img = $("#roll_png").clone()
        $list.append($title)
        $title.append($time)
        $time.append($img)
        $list.appendTo("#container_body_right_item")
    })
</script>
</body>
</html>

