<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--用户帖子模板-->
<th:block th:fragment="userTopic">
    <div class="container_body_right_item_list" th:each="topic : ${userTopicPage.topics}" th:object="${topic}">
        <div class="container_body_right_item_list_title" style="margin-top: 10px;">
            <span class="time" th:text="*{time}">时间</span>
            <div class="list_time">
                <img id="roll_png" src="../static/img/roll.png" th:src="@{/img/roll.png}" alt="闹钟图片">
            </div>
        </div>
        <div class="container_body_right_item_list_text">
            <h3><a href="#" style="color: #3f99ff" th:text="*{title}">标题</a></h3>
            <span th:text="*{content}">内容</span>
        </div>
    </div>
    <a style="margin: 0 auto" th:if="${userTopicPage.hasNextPage}" th:onclick="|userTopicList.loadTopics('@{/topic/user/{userid}/{page}(userid=${userid},page=${page})}',this)|">加载更多</a>
</th:block>
</body>
</html>